html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white;
  font-family: Oranienbaum; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/Proxima-Nova.otf); }

@font-face {
  font-family: ProximaNovaB;
  src: url(../fonts/Proxima-Nova-Bold.otf); }

@font-face {
  font-family: ProximaNovaL;
  src: url(../fonts/Proxima-Nova-Light.otf); }

.toggle-mnu {
  display: block;
  float: right;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 40px 15px; }
  .toggle-mnu:focus {
    outline: none; }

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px); }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

/*input[type=submit]*/
a:hover, a:focus, a:active {
  color: #FFF;
  text-decoration: none; }

body {
  font-family: ProximaNova; }

.wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden; }

.w970 {
  width: 970px;
  margin: auto; }

.pr0 {
  padding-right: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.nopadding {
  padding: 0 !important; }

.logo {
  float: left; }

.top {
  width: 100%;
  background-image: -webkit-radial-gradient(circle 1148px at 50.49% 49.21%, #202430 0%, #0e0e0e 100%);
  background-image: radial-gradient(circle 1148px at 50.49% 49.21%, #202430 0%, #0e0e0e 100%);
  min-height: 530px; }

.col-logo-mnu-contacts {
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 90px; }

.top_mnu {
  margin-left: 22px;
  margin-top: 30px; }
  .top_mnu li {
    float: left;
    margin-right: 16px; }
    .top_mnu li:last-child {
      margin-right: 0; }
    .top_mnu li a {
      font-family: ProximaNova;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
      color: white; }
      .top_mnu li a:hover {
        color: #8c2636;
        text-decoration: none; }
  .top_mnu .active a {
    color: #8c2636;
    text-decoration: none; }

.top-phone {
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: left 0 top 0;
  background-image: url("../img/top-phone.png");
  min-height: 38px;
  color: white;
  font-family: ProximaNovaB;
  text-transform: uppercase;
  font-size: 20px;
  text-align: right;
  margin-top: 20px; }
  .top-phone span {
    font-size: 18px; }

.order-call {
  color: white;
  font-family: ProximaNovaL;
  font-size: 15px;
  text-transform: none;
  border-bottom: 3px dotted #fff;
  margin-top: 6px;
  display: inline-block; }

.banner {
  padding-top: 53px;
  padding-bottom: 45px; }
  .banner h1 {
    color: white;
    font-family: ProximaNovaB;
    font-size: 39px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 34px; }

.setup {
  color: white;
  font-family: ProximaNova;
  font-size: 18px;
  padding-left: 50px;
  margin-bottom: 35px;
  background: url("../img/setup.png") no-repeat left center;
  line-height: 1.75;
  min-height: 32px; }

.free-less {
  color: white;
  font-family: ProximaNova;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 359px;
  height: 64px;
  border: 3px solid #9a2625;
  line-height: 4.2;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-bottom: 35px; }

.check {
  padding-left: 50px;
  background: url("../img/check.png") no-repeat left center;
  color: white;
  font-family: ProximaNova;
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  min-height: 38px; }
  .check b {
    font-family: ProximaNovaB; }

.col-banner-image {
  position: relative;
  min-height: 425px; }

.woman {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 100; }

.about {
  position: relative;
  padding-top: 43px; }

.arrow {
  position: absolute;
  top: -14px;
  left: 0;
  width: 100%;
  height: 47px;
  background: url("../img/arrow.png") no-repeat top center;
  z-index: 100; }

h2 {
  color: #1f232f;
  font-family: ProximaNovaB;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px; }

.about-cols {
  margin-bottom: 40px;
  overflow: hidden; }
  .about-cols > div {
    padding-top: 95px;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center; }
    .about-cols > div:first-child {
      background-image: url("../img/Word-Processor.png"); }
    .about-cols > div:nth-child(2) {
      background-image: url("../img/Task-Manager.png"); }
    .about-cols > div:nth-child(3) {
      background-image: url("../img/Contact.png"); }
    .about-cols > div:nth-child(4) {
      background-image: url("../img/Favorites.png"); }
    .about-cols > div p {
      text-align: center;
      color: #1f232f;
      font-family: ProximaNova;
      font-size: 18px;
      text-decoration: underline;
      text-transform: uppercase;
      margin-bottom: 10px;
      line-height: 1.2; }
      .about-cols > div p:last-child {
        margin-bottom: 0; }
    .about-cols > div div {
      color: #313131;
      font-family: ProximaNovaL;
      font-size: 15px;
      line-height: 1.2;
      text-transform: none;
      text-decoration: none; }

.about-text {
  width: 940px;
  margin: auto;
  color: black;
  font-family: ProximaNovaL;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px; }
  .about-text div {
    margin-bottom: 20px; }
    .about-text div:last-child {
      margin-bottom: 0; }
  .about-text b {
    font-family: ProximaNovaB; }

.w465 {
  width: 465px;
  margin: auto; }

.arr_head {
  background: url("../img/arr.png") no-repeat bottom center;
  padding-bottom: 25px;
  margin-bottom: 15px; }

.shadow {
  background: url("../img/shadow.png") no-repeat top center;
  width: 100%;
  content: "";
  display: block;
  height: 70px;
  margin-top: -40px;
  margin-bottom: 70px; }

.direction {
  background: #222632 url("../img/direction.jpg") no-repeat top center;
  text-align: center;
  height: auto;
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 10;
  font-size: 18px;
  padding-top: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .direction h3 {
    color: #9a2625;
    font-family: ProximaNovaB;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .direction p {
    margin-bottom: 30px; }
  .direction span {
    font-family: ProximaNova;
    font-size: 31px;
    text-transform: uppercase;
    color: white; }
    .direction span:after {
      color: #9a2625;
      content: "|";
      margin-left: 5px; }
    .direction span:last-child:after {
      display: none; }

.halls {
  text-align: center;
  color: #1f232f;
  font-family: ProximaNova;
  font-size: 18px;
  line-height: 1.1;
  padding-bottom: 73px;
  overflow: hidden; }
  .halls p {
    margin-bottom: 20px; }

.w810 {
  width: 810px;
  margin: auto; }

.halls-gal {
  margin-top: 24px;
  overflow: hidden; }
  .halls-gal a {
    display: block;
    border: 1px solid #000002;
    padding: 3px;
    font-size: 0; }
  .halls-gal li {
    float: left;
    margin-right: 12px; }
    .halls-gal li:last-child {
      margin-right: 0; }

.write-free {
  width: 100%;
  height: 213px;
  background: #080a12 url("../img/pod.png") no-repeat top center;
  border: 2px solid #9a2625;
  margin: auto;
  position: relative; }
  .write-free h2 {
    color: white;
    font-family: ProximaNovaB;
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .write-free .w970 {
    padding: 25px 225px 45px 255px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.form input {
  width: 220px;
  height: 39px;
  background-color: rgba(255, 255, 255, 0.23);
  border: 2px solid #5c616e;
  -webkit-box-shadow: inset 1px 1.7px 2px rgba(0, 0, 2, 0.14);
          box-shadow: inset 1px 1.7px 2px rgba(0, 0, 2, 0.14);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-bottom: 8px;
  color: #aeaeae;
  font-family: ProximaNova;
  font-size: 18px; }

.form button {
  float: right;
  width: 216px;
  height: 51px;
  background: #9a2625 url("../img/red-button.png") no-repeat 0 0;
  border: none;
  color: white;
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 16px; }

.col-button {
  vertical-align: middle; }

.gal2 {
  width: 924px;
  margin: auto;
  margin-bottom: 55px;
  overflow: hidden;
  padding: 0; }
  .gal2 li {
    float: left;
    margin-right: 20px;
    font-size: 0;
    margin-bottom: 20px; }
    .gal2 li:nth-child(4n) {
      margin-right: 0; }

.teachers {
  padding: 80px 0 45px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: #181F2D; }
  .teachers span {
    display: block; }
  .teachers ul {
    position: relative;
    width: 945px;
    margin: auto;
    display: block;
    text-align: center; }
  .teachers li {
    display: inline-block;
    margin: 16px; }

.teacher-name {
  color: #bebebe;
  font-family: ProximaNova;
  font-size: 18px;
  margin-bottom: 17px; }

.prof {
  color: white;
  font-family: ProximaNova;
  font-size: 17px;
  text-transform: uppercase; }

.teach-img {
  -webkit-border-radius: 100%;
          border-radius: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  height: 166px;
  width: 166px;
  border: 2px solid #9a2625;
  margin-bottom: 15px;
  background-color: #fff; }

.arrows {
  top: 55px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 63px; }

.arr {
  display: block;
  position: absolute;
  top: 45px;
  width: 68px;
  height: 63px;
  background-repeat: no-repeat;
  background-position: 0 0; }
  .arr:hover {
    background-position: 0 -63px; }

.arr-l {
  background-image: url("../img/arr-l.png");
  left: 0; }

.arr-r {
  background-image: url("../img/arr-r.png");
  right: 0; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-mnu {
    display: none;
    float: right;
    min-width: 250px;
    text-align: right;
    background-color: #1C242C;
    width: auto;
    position: absolute;
    top: 55px;
    right: 15px;
    height: auto;
    z-index: 10;
    margin-top: 0; }
    .main-mnu ul {
      display: inline; }
    .main-mnu li {
      display: block;
      float: none;
      margin: 0; }
    .main-mnu a {
      display: block;
      color: #FFF;
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      padding: 10px;
      text-align: right; }
      .main-mnu a:hover {
        text-decoration: underline; }
    .main-mnu a:hover, .main-mnu li.active a {
      border: none; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 640px) {
  /**/ }

@media only screen and (max-width: 620px) {
  /**/ }

@media only screen and (max-width: 570px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
