html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white;
  font-family: Oranienbaum; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/Proxima-Nova.otf); }

@font-face {
  font-family: ProximaNovaB;
  src: url(../fonts/Proxima-Nova-Bold.otf); }

@font-face {
  font-family: ProximaNovaL;
  src: url(../fonts/Proxima-Nova-Light.otf); }

.toggle-mnu {
  display: block;
  float: right;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 40px 15px; }
  .toggle-mnu:focus {
    outline: none; }

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px); }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

/*input[type=submit]*/
a:hover {
  color: #FFF;
  text-decoration: none; }

body {
  font-family: ProximaNova; }

.wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden; }

.w970 {
  width: 970px;
  margin: auto; }

.pr0 {
  padding-right: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.nopadding {
  padding: 0 !important; }

.logo {
  float: left; }

.top {
  width: 100%;
  background-image: -webkit-radial-gradient(circle 1148px at 50.49% 49.21%, #202430 0%, #0e0e0e 100%);
  background-image: radial-gradient(circle 1148px at 50.49% 49.21%, #202430 0%, #0e0e0e 100%);
  min-height: 530px; }

.col-logo-mnu-contacts {
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 90px; }

.top_mnu {
  margin-left: 22px;
  margin-top: 30px; }
  .top_mnu li {
    float: left;
    margin-right: 16px; }
    .top_mnu li:last-child {
      margin-right: 0; }
    .top_mnu li a {
      font-family: ProximaNova;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
      color: white; }
      .top_mnu li a:hover {
        color: #8c2636;
        text-decoration: none; }
  .top_mnu .active a {
    color: #8c2636;
    text-decoration: none; }

.top-phone {
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: left 0 top 0;
  background-image: url("../img/top-phone.png");
  min-height: 38px;
  color: white;
  font-family: ProximaNovaB;
  text-transform: uppercase;
  font-size: 20px;
  text-align: right;
  margin-top: 20px; }
  .top-phone span {
    font-size: 18px; }

.order-call {
  color: white;
  font-family: ProximaNovaL;
  font-size: 15px;
  text-transform: none;
  border-bottom: 3px dotted #fff;
  margin-top: 6px;
  display: inline-block; }

.banner {
  padding-top: 53px;
  padding-bottom: 45px; }
  .banner h1 {
    color: white;
    font-family: ProximaNovaB;
    font-size: 39px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 34px; }

.setup {
  color: white;
  font-family: ProximaNova;
  font-size: 18px;
  padding-left: 50px;
  margin-bottom: 35px;
  background: url("../img/setup.png") no-repeat left center;
  line-height: 1.75;
  min-height: 32px; }

.free-less {
  color: white;
  font-family: ProximaNova;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 359px;
  height: 64px;
  border: 3px solid #9a2625;
  line-height: 4.2;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-bottom: 35px; }

.check {
  padding-left: 50px;
  background: url("../img/check.png") no-repeat left center;
  color: white;
  font-family: ProximaNova;
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  min-height: 38px; }
  .check b {
    font-family: ProximaNovaB; }

.col-banner-image {
  position: relative;
  min-height: 425px; }

.woman {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 100; }

.about {
  position: relative;
  padding-top: 43px; }

.arrow {
  position: absolute;
  top: -14px;
  left: 0;
  width: 100%;
  height: 47px;
  background: url("../img/arrow.png") no-repeat top center;
  z-index: 100; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-mnu {
    display: none;
    float: right;
    min-width: 250px;
    text-align: right;
    background-color: #1C242C;
    width: auto;
    position: absolute;
    top: 55px;
    right: 15px;
    height: auto;
    z-index: 10;
    margin-top: 0; }
    .main-mnu ul {
      display: inline; }
    .main-mnu li {
      display: block;
      float: none;
      margin: 0; }
    .main-mnu a {
      display: block;
      color: #FFF;
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      padding: 10px;
      text-align: right; }
      .main-mnu a:hover {
        text-decoration: underline; }
    .main-mnu a:hover, .main-mnu li.active a {
      border: none; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 640px) {
  /**/ }

@media only screen and (max-width: 620px) {
  /**/ }

@media only screen and (max-width: 570px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
