html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

\:focus
  outline: 0

body
  line-height: 1
  color: black
  background: white
  font-family: Oranienbaum

ol, ul
  list-style: none

table
  border-collapse: separate
  border-spacing: 0

caption, th, td
  text-align: left
  font-weight: normal

blockquote
  &:before, &:after
    content: ""

q
  &:before, &:after
    content: ""

blockquote, q
  quotes: "" ""

li 
	list-style: none

ul 
	padding: 0
	margin: 0

@import _fonts
@import _mnu

/*input[type=submit]*/

a:hover, a:focus, a:active
  color: #FFF 
  text-decoration: none

body
  font-family: ProximaNova

.wrapper
  width: 100%
  margin: auto
  overflow: hidden

.w970 
  width: 970px
  margin: auto

.pr0 
  padding-right: 0 !important

.pl0
  padding-left: 0 !important

.nopadding 
  padding: 0 !important

.logo 
  float: left


.top
  width: 100%  
  background-image: radial-gradient(circle 1148px at 50.49% 49.21%, #202430 0%, #0e0e0e 100%)
  min-height: 530px

.col-logo-mnu-contacts
  padding-top: 15px
  box-sizing: border-box
  height: 90px

.top_mnu
  margin-left: 22px
  margin-top: 30px
  li
    float: left
    margin-right: 16px
    &:last-child
      margin-right: 0
    a
      font-family: ProximaNova
      font-size: 15px
      font-weight: 400
      text-transform: uppercase
      color: white
      &:hover
        color: #8c2636
        text-decoration: none
  .active
    a
      color: #8c2636
      text-decoration: none

.top-phone 
  padding-left: 45px
  background-repeat: no-repeat
  background-position: left 0 top 0
  background-image: url("../img/top-phone.png") 
  min-height: 38px
  color: white
  font-family: ProximaNovaB
  text-transform: uppercase
  font-size: 20px
  text-align: right
  margin-top: 20px
  span
    font-size: 18px

.order-call  
  color: white
  font-family: ProximaNovaL
  font-size: 15px
  text-transform: none
  border-bottom: 3px dotted #fff 
  margin-top: 6px
  display: inline-block
  
.banner
  padding-top: 53px  
  padding-bottom: 45px
  h1
    color: white
    font-family: ProximaNovaB
    font-size: 39px  
    text-transform: uppercase
    line-height: 1.2
    margin-bottom: 34px

.setup
  color: white
  font-family: ProximaNova
  font-size: 18px
  padding-left: 50px
  margin-bottom: 35px
  background: url("../img/setup.png") no-repeat left center
  line-height: 1.75
  min-height: 32px

.free-less
  color: white
  font-family: ProximaNova
  font-size: 15px
  text-transform: uppercase
  text-align: center
  display: block
  width: 359px
  height: 64px
  border: 3px solid #9a2625
  line-height: 4.2
  border-radius: 3px
  margin-bottom: 35px

.check
  padding-left: 50px
  background: url("../img/check.png") no-repeat left center
  color: white
  font-family: ProximaNova
  font-size: 18px
  line-height: 3
  font-weight: 400
  min-height: 38px
  b
    font-family: ProximaNovaB

.col-banner-image 
  position: relative
  min-height: 425px

.woman
  position: absolute
  top: 0
  right: 50px
  z-index: 100

.about
  position: relative
  padding-top: 43px  

.arrow
  position: absolute
  top: -14px
  left: 0
  width: 100%  
  height: 47px
  background: url("../img/arrow.png") no-repeat top center
  z-index: 100
  
h2
  color: #1f232f
  font-family: ProximaNovaB
  font-size: 30px
  text-transform: uppercase
  text-align: center
  margin-bottom: 45px


.about-cols
  margin-bottom: 40px
  overflow: hidden
  > div
    padding-top: 95px
    background-repeat: no-repeat
    background-position: top center
    text-align: center
    &:first-child
      background-image: url("../img/Word-Processor.png") 
    &:nth-child(2)
      background-image: url("../img/Task-Manager.png") 
    &:nth-child(3)
      background-image: url("../img/Contact.png") 
    &:nth-child(4)
      background-image: url("../img/Favorites.png") 
    p
      text-align: center
      color: #1f232f
      font-family: ProximaNova
      font-size: 18px
      text-decoration: underline
      text-transform: uppercase
      margin-bottom: 10px
      line-height: 1.2
      &:last-child
        margin-bottom: 0
    div
      color: #313131
      font-family: ProximaNovaL
      font-size: 15px
      line-height: 1.2
      text-transform: none
      text-decoration: none

.about-text
  width: 940px
  margin: auto
  color: black
  font-family: ProximaNovaL
  font-size: 15px
  line-height: 1.2
  font-weight: 300
  text-align: center
  margin-bottom: 50px
  div
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0
  b
    font-family: ProximaNovaB

.w465
  width: 465px
  margin: auto

.arr_head
  background: url("../img/arr.png") no-repeat bottom center
  padding-bottom: 25px
  margin-bottom: 15px

.shadow
  background: url("../img/shadow.png") no-repeat top center
  width: 100%
  content: "" 
  display: block
  height: 70px
  margin-top: -40px
  margin-bottom: 70px
  
.direction
  background: #222632 url("../img/direction.jpg") no-repeat top center
  text-align: center
  height: auto
  width: 100%
  height: 300px  
  position: relative
  z-index: 10
  font-size: 18px
  padding-top: 55px
  box-sizing: border-box
  h3
    color: #9a2625
    font-family: ProximaNovaB
    font-size: 35px
    text-transform: uppercase
    margin-bottom: 10px
  p
    margin-bottom: 30px
  span
    font-family: ProximaNova
    font-size: 31px
    text-transform: uppercase
    color: white        
    &:after
      color: #9a2625
      content: "|" 
      margin-left: 5px
    &:last-child:after
      display: none
      
.halls
  text-align: center
  color: #1f232f
  font-family: ProximaNova
  font-size: 18px
  line-height: 1.1
  padding-bottom: 73px
  overflow: hidden
  p
    margin-bottom: 20px
    
.w810
  width: 810px
  margin: auto

.halls-gal
  margin-top: 24px
  overflow: hidden
  a
    display: block
    border: 1px solid #000002
    padding: 3px
    font-size: 0
  li
    float: left
    margin-right: 12px
    &:last-child
      margin-right: 0

.write-free
  width: 100%
  height: 213px
  background: #080a12 url("../img/pod.png") no-repeat top center
  border: 2px solid #9a2625
  margin: auto
  position: relative
  h2
    color: white
    font-family: ProximaNovaB
    text-align: center
    font-size: 19px
    text-transform: uppercase
    margin-bottom: 40px
  .w970
    padding: 25px 225px 45px 255px
    box-sizing: border-box
    
.form  
  input
    width: 220px
    height: 39px
    background-color: rgba(255, 255, 255, 0.23)
    border: 2px solid #5c616e
    box-shadow: inset 1px 1.7px 2px rgba(0, 0, 2, 0.14)
    border-radius: 2px
    padding: 0 5px
    box-sizing: border-box
    float: left
    margin-bottom: 8px
    color: #aeaeae
    font-family: ProximaNova
    font-size: 18px    
  button
    float: right
    width: 216px
    height: 51px
    background: #9a2625 url("../img/red-button.png") no-repeat 0 0
    border: none
    color: white
    font-family: ProximaNova
    font-size: 18px
    font-weight: 400
    text-transform: uppercase
    margin-top: 16px

.col-button
  vertical-align: middle

.gal2
  width: 924px
  margin: auto
  margin-bottom: 55px
  overflow: hidden
  padding: 0
  li
    float: left
    margin-right: 20px
    font-size: 0
    margin-bottom: 20px
    &:nth-child(4n)
      margin-right: 0

.teachers
  padding: 80px 0 45px 0
  box-sizing: border-box
  width: 100%
  margin: auto
  overflow: hidden
  background-color: #181F2D  
  span
    display: block
  ul
    position: relative
    width: 945px
    margin: auto
    display: block
    text-align: center
  li
    display: inline-block
    margin: 16px

.teacher-name
  color: #bebebe
  font-family: ProximaNova
  font-size: 18px
  margin-bottom: 17px
  
.prof
  color: white
  font-family: ProximaNova
  font-size: 17px
  text-transform: uppercase

.teach-img
  border-radius: 100%
  overflow: hidden
  margin-bottom: 20px
  height: 166px
  width: 166px
  border: 2px solid #9a2625
  margin-bottom: 15px
  background-color: #fff 
  
.arrows
  top: 55px
  left: 0
  position: absolute
  width: 100%
  height: 63px

.arr
  display: block
  position: absolute
  top: 45px
  width: 68px
  height: 63px
  background-repeat: no-repeat
  background-position: 0 0 
  &:hover
    background-position: 0 -63px 

.arr-l
  background-image: url("../img/arr-l.png") 
  left: 0

.arr-r
  background-image: url("../img/arr-r.png")
  right: 0


@import _media