html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

\:focus
  outline: 0

body
  line-height: 1
  color: black
  background: white
  font-family: Oranienbaum

ol, ul
  list-style: none

table
  border-collapse: separate
  border-spacing: 0

caption, th, td
  text-align: left
  font-weight: normal

blockquote
  &:before, &:after
    content: ""

q
  &:before, &:after
    content: ""

blockquote, q
  quotes: "" ""

li 
	list-style: none

ul 
	padding: 0
	margin: 0

@import _fonts
@import _mnu

/*input[type=submit]*/

.wrapper
  width: 100%
  margin: auto
  overflow: hidden

.w970 
  width: 970px
  margin: auto

.pr0 
  padding-right: 0 !important

.pl0
  padding-left: 0 !important

.nopadding 
  padding: 0 !important

.logo 
  float: left


.top
  width: 100%
  overflow: hidden
  background-image: radial-gradient(circle 1148px at 50.49% 49.21%, #202430 0%, #0e0e0e 100%)

.col-logo-mnu-contacts
  padding-top: 15px
  box-sizing: border-box

.top_mnu
  li
    float: left


































@import _media